<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Profile</title>
    </head>
    <body>
        <h2>Profile</h2>
        <p><strong>Name:</strong> <span th:text="${person.name}"></span> </p>
        <p><strong>Email:</strong> <span th:text="${person.email}"></span></p>
        <p><strong>Age:</strong> <span th:text="${person.age}"></span></p>
        <p><strong><span th:text="${person.profile}"></span></strong></p>
    </body>
</html>